.home_header_nav {
    height: 70px !important;
    background-color: #242424;
    line-height: 70px;
    color: #b2b2b2;
}
.Find{
}

/* recommend */
.recommend{
    width: 100%;
  }
.recommend_nav {
    background-color: red;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.recommend_nav ul {
    width: 996px;
    margin: 0 auto;
    height: 30px;
}
.recommend_nav ul li{
    float: left;
    padding: 0 40px;
    color: white;
}
.recommend_nav ul li:first-child{
    margin-left: 30px;
}
.recommend_banner{
    height: 252px;
    /* background-color: yellow; */
}
.recommend_content{
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.recommend_content_left{
    width: 730px;
    background-color: white;
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.recommend_content_right{
    width: 254px;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.recommend_hot_nav,
.recommend_individuality_nav,
.recommend_disc_nav,
.recommend_list_nav{
    width: 730px;
    text-align: left;
    height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom:2px solid red;
    box-sizing: border-box;
}
.recommend_hot_nav_title,.recommend_hot_nav_option{
    display: inline-block;
}
.recommend_hot_nav_title,
.recommend_individuality_title,
.recommend_disc_title,
.recommend_list_title{
    font-size: 18px;
    padding:0 30px;
}

.recommend_hot_nav_option{
    font-size: 12px;
    padding: 0 20px;
    color: #666;
}
.recommend_hot_nav div.recommend_hot_nav_option:not(:nth-child(2) ) {
    border-left:1px solid #666;
}
.recommend_hot_nav_more{
    display: inline-block;
    margin-left:228px ;
    font-size: 12px;
    color: #666;
}

.recommend_hot_content ul li,.recommend_individuality_content ul li {
    width: 150px;
    height: 150px;
    margin: 20px 15px;
    background-color: black;
    float: left;
}
.recommend_hot_content::after,.recommend_individuality_content::after{
    width: 0;
    height: 0;
    display: block;
    content: " ";
    clear: both;
}
.recommend_disc_content{
    height: 80px;
}
.recommend_personInfo{
    display: flex;
    background-color: #f6f6f6;
}

.recommend_personInfo_image{
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    background-color: red;
}
.recomment_personInfo_nameORlogo{
    width: 120px;
}
.recommend_personInfo_name{
    display: inline-block;
    margin-top:20px;
}
.recommend_personInfo_logo{
    display: inline-block; 
}
.recommend_personInfo_grade{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.recommend_personInfo_sign{
    margin-top:20px;

}
.recommend_personInfo_sign button{
    height: 30px;
    width: 80px;
}
.recommend_personInfo_data{
    width: 100%;
    text-align: left;
    background-color: #f6f6f6;
}
.recommend_personInfo_dynamic,
.recommend_personInfo_focus,
.recommend_personInfo_fans{
    display: inline-block;
    margin: 0px 20px;
}
.recommend_personInfo_dynamic_count,
.recommend_personInfo_dynamic_title,
.recommend_personInfo_focus_count,
.recommend_personInfo_focus_title,
.recommend_personInfo_fans_count,
.recommend_personInfo_fans_title{
    width: 40px;
    margin: 5px 0px;
}